body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-container {
  text-align: center;
}
.error-code {
  font-size: 10rem;
  margin-bottom: 20px;
}
.error-message {
  font-size: 2rem;
  margin-bottom: 20px;
}
.error-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.btn {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}
.btn:hover {
  background-color: #000;
  color: #fff;
}